NODE_ENV=development

CLIENT_URL=http://localhost:5173

NEON_DB_URL=
MONGO_DB_URL=

JWT_SECRET=

MSG91_AUTH_KEY=
MSG91_TEMPLATE_ID=
MSG91_INTEGRATED_NUMBER=
MSG91_TEMPLATE_NAMESPACE=

RESEND_API_KEY=

ADMIN_PHONE=
ADMIN_EMAIL=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=